<div data-ng-message="required" class="text-muted"><small>This field is required</small></div>
<div data-ng-message="minlength" class="text-muted"><small>This field is too short</small></div>
<div data-ng-message="maxlength" class="text-muted"><small>This field is too long</small></div>
<div data-ng-message="pattern" class="text-muted"><small>This field cannot contain special characters</small></div>
<div data-ng-message="email" class="text-muted"><small>This field is not valid email</small></div>
